# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Production build outputs
dist/
build/
out/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
coverage/
.nyc_output/

# Editor directories and caches
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache/
.turbo/

# Prisma generated outputs
/generated/prisma
